.user-data {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  min-height: 100vh;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table-section {
  max-width: 900px;
  margin: 0 auto;
}

.table-wrapper {
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.data-table th {
  background-color: #4a90e2;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.data-table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.data-table tr:hover {
  background-color: #f1f1f1;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  background-color: #ff4d4d;
  color: white;
}

.edit-btn:hover {
  background-color: #e60000;
}

.delete-btn {
  background-color: #28a745;
  color: white;
}

.delete-btn:hover {
  background-color: #1e7e34;
}

.pagination-controls {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  padding: 6px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  width: 30%;
}

.pagination-button:disabled {
  color: rgb(222, 157, 157);
  cursor: not-allowed;
}

.pagination-controls span {
  margin: 0 10px;
}