 .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
}

.required-mark {
  color: red;
  margin-left: 4px;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
.pagination-controls {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.pagination-button {
  padding: 6px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  width: 30%;
}

.pagination-button:disabled {
  color: rgb(222, 157, 157);
  cursor: not-allowed;
}

.pagination-controls span {
  margin: 0 10px;
}